<!DOCTYPE html>
<html lang="es">
<head>
  {% include "head-meta.njk" %}
  <meta name="robots" content="noindex, nofollow">
</head>
<body class="ms-body">
  <main>
    {{ content | safe }}
  </main>
</body>
</html>
