---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
{%- set latestPost = (blog | ordenarPorFecha)[0] -%}
{%- set buildDate = latestPost.date | fechaISO -%}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:image="http://www.google.com/schemas/sitemaps/image/1.1">
  <url>
    <loc>{{ site.url }}/</loc>
    <lastmod>{{ buildDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
    <image:image>
      <image:loc>{{ site.url }}/img/cristina-hero.jpg</image:loc>
      <image:title>Cristina Lorente, dietista y técnica en farmacia</image:title>
    </image:image>
  </url>
  <url>
    <loc>{{ site.url }}/servicios/</loc>
    <lastmod>{{ buildDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>{{ site.url }}/menu-mensual-personalizado/</loc>
    <lastmod>{{ buildDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>{{ site.url }}/metodo/</loc>
    <lastmod>{{ buildDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>{{ site.url }}/testimonios/</loc>
    <lastmod>{{ buildDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>{{ site.url }}/sobre-mi/</loc>
    <lastmod>{{ buildDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
    <image:image>
      <image:loc>{{ site.url }}/img/cristina-profesional.jpg</image:loc>
      <image:title>Cristina Lorente — Sobre mí</image:title>
    </image:image>
  </url>
  <url>
    <loc>{{ site.url }}/blog/</loc>
    <lastmod>{{ buildDate }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  {%- for post in blog | ordenarPorFecha %}
  <url>
    <loc>{{ site.url }}/blog/{{ post.category }}/{{ post.slug }}/</loc>
    <lastmod>{{ post.date | fechaISO }}</lastmod>
    <changefreq>yearly</changefreq>
    <priority>{% if post.category == "educacion" %}0.6{% else %}0.5{% endif %}</priority>
    <image:image>
      <image:loc>{{ site.url }}/img/blog/{{ post.image }}</image:loc>
      <image:title>{{ post.title }}</image:title>
      <image:caption>{{ post.imageAlt }}</image:caption>
    </image:image>
  </url>
  {%- endfor %}
  <url>
    <loc>{{ site.url }}/legal/privacidad/</loc>
    <lastmod>2026-04-14</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.3</priority>
  </url>
  <url>
    <loc>{{ site.url }}/legal/aviso-legal/</loc>
    <lastmod>2026-04-14</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.3</priority>
  </url>
  <url>
    <loc>{{ site.url }}/legal/condiciones/</loc>
    <lastmod>2026-04-14</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.3</priority>
  </url>
  <url>
    <loc>{{ site.url }}/privacidad-seguimiento/</loc>
    <lastmod>2026-04-14</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.2</priority>
  </url>
</urlset>
